body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table.board {
    margin-top: 20px;
    border-collapse: collapse;
}
th {
    width: 60px;
    height: 60px;
}
th.no-empty {
    border: 1px solid black;
}
th.now {
    background-color: pink;
}

.button-container {
    margin-top: 20px;
}

.message {
    margin-top: 20px;
}